includeConfig "../base.config"

params {
    results_dir           = null
    manifest              = null
    reference             = null
    intervals_of_interest = null

    bin_length            = 500

}

process {
    memory        = "6GB"
    queue         = "normal"
    maxRetries    = 3
    errorStrategy = { task.attempt <= process.maxRetries ? "retry" : "terminate" }
}

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.results_dir}/01_execution/timeline.html"
}