profiles {

    sanger_local {

        docker {
            enabled = false
        }
        
        singularity {
            enabled    = true
            autoMounts = true
            runOptions = "--bind /lustre,/software"
        }

        process {
            cache = 'lenient'
        }

        executor {
            name   = "local"
            cpus   = 2
            memory = "1GB"
        }

    }

    sanger_lsf {

        docker {
            enabled = false
        }

        singularity {
            enabled    = true
            autoMounts = true
            runOptions = "--bind /lustre,/software"
        }

        process {
            cache     = "lenient"
            cpus      = 1
            memory    = "8GB"
            queue     = "normal"
            container = "$projectDir/../containers/gatk_4.5.0.0.sif"
        }

        executor {
            name            = "lsf"
            perJobMemLimit  = true
            queueSize       = 3000
            jobName         = { "cnv - $task.name - $task.hash" }
            pollInterval    = "15 sec"
            dumpInterval    = "30min"
            submitRateLimit = "5 sec"
        }
    }
}
