includeConfig "../base.config"


process {
    withName:FitPredictGermlineCNV {
        memory = "12GB"
        queue  = "long"
    }
    
    withName:FitPredictContigPloidy {
        memory = "4GB"
    }

    withName:PredictGermlineCNV {
        memory = "4GB"
    }

    withName:PredictContigPloidy {
        memory = "4GB"
    }

    withName:PostprocessTrainCalls {
        memory = "2GB"
        queue  = "normal"
    }

    withName:PostprocessTestCalls {
        memory = "2GB"
        queue  = "normal"
    }

    maxRetries    = 3
    errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'terminate' }
}

params {
    results_dir         = null
    manifest            = null
    intervals           = null
    annotated_intervals = null
    blacklist_intervals = null

    // Define maximum size of shard (for parallelisation) of samples
    test_sample_max_partition_size             = 200
    pretrained_model_sample_max_partition_size = 10

    // gatk FilterIntervals
    filter_intervals_minimum_gc_content                         = 0.125
    filter_intervals_maximum_gc_content                         = 0.9
    filter_intervals_minimum_mappability                        = 0.9
    filter_intervals_maximum_mappability                        = 1.0
    filter_intervals_minimum_segmental_duplication_content      = 0.0
    filter_intervals_maximum_segmental_duplication_content      = 0.5
    filter_intervals_low_count_filter_count_threshold           = 5
    filter_intervals_low_count_filter_percentage_of_samples     = 90
    filter_intervals_extreme_count_filter_minimum_percentile    = 1.0
    filter_intervals_extreme_count_filter_maximum_percentile    = 99.0
    filter_intervals_extreme_count_filter_percentage_of_samples = 90.0

    // gatk DetermineGermlineContigPloidy
    contig_ploidy_model_mapping_error_rate = 0.01
    contig_ploidy_model_sample_psi_scale = 0.01
    contig_ploidy_model_global_psi_scale = 0.001
    contig_ploidy_model_mean_bias_standard_deviation = 0.1

    // gatk IntervalListTools "ScatterIntervals" - DEPRECATED: WDL paradigm
    // n_intervals_per_scatter = 20000

    // gatk GermlineCNVCaller
    // GermlineCNVCallerCohortMode.nf AND CaseMode
    gcnv_model_p_alt = 0.00001
    gcnv_model_cnv_coherence_length = 10000
    gcnv_model_max_copy_number = 5
    gcnv_model_mapping_error_rate = 0.01
    gcnv_model_sample_psi_scale = 1
    gcnv_model_depth_correction_tau = 10000
    gcnv_model_copy_number_posterior_expectation_mode = "HYBRID"
    gcnv_model_active_class_padding_hybrid_mode = 50000

    // GermlineCNVCallerCaseMode.nf ONLY
    gcnv_model_p_active = 0.00001
    gcnv_model_class_coherence_length = 10000
    gcnv_model_max_bias_factors = 10
    gcnv_model_interval_psi_scale = 1
    gcnv_model_log_mean_bias_standard_deviation = 0.1
    gcnv_model_init_ard_rel_unexplained_variance = 0.1
    gcnv_model_num_gc_bins = 10
    gcnv_model_gc_curve_standard_deviation = 0.1
    gcnv_model_enable_bias_factors = "true"
    
    
    // GermlineCNVCallerCohortMode.nf AND CaseMode
    gcnv_inference_learning_rate = 0.03
    gcnv_inference_adamax_beta_1 = 0.9
    gcnv_inference_adamax_beta_2 = 0.99
    gcnv_inference_log_emission_samples_per_round = 50
    gcnv_inference_log_emission_sampling_median_rel_error = 0.001
    gcnv_inference_log_emission_sampling_rounds = 20
    gcnv_inference_max_advi_iter_first_epoch = 5000
    gcnv_inference_max_advi_iter_subsequent_epochs = 200
    gcnv_inference_min_training_epochs = 5
    gcnv_inference_max_training_epochs = 50
    gcnv_inference_initial_temperature = 2.0
    gcnv_inference_num_thermal_advi_iters = 2500
    gcnv_inference_convergence_snr_averaging_window = 500
    gcnv_inference_convergence_snr_trigger_threshold = 0.2
    gcnv_inference_convergence_snr_countdown_window = 10
    gcnv_inference_max_calling_iters = 20
    gcnv_inference_caller_update_convergence_threshold = 0.000001
    gcnv_inference_caller_internal_admixing_rate = 0.75
    gcnv_inference_caller_external_admixing_rate = 1.00
    gcnv_inference_disable_annealing = "false"
}

timeline {
    enabled            = true
    overwrite = true
    file               = "${params.results_dir}/03_execution/timeline.html"
}

trace {
    enabled         = true
    overwrite = true
    file            = "${params.results_dir}/03_execution/trace.txt"
}

dag {
    enabled       = true
    overwrite = true
    file          = "${params.results_dir}/03_execution/dag.html"
}